<h1>New Page</h1>

<% proper_form_for :page, :url => admin_pages_path do |f| -%>

<% fieldset do -%>
<%= f.text_field :name %>
<%= f.text_area :body %>
<%= f.text_field :permalink %>
<% end -%>

<% fieldset :class => "submit" do -%>
<%= f.submit "Create" %> | <%= link_to "back to pages list", admin_pages_path %>
<% end -%>

<% end -%>