<h1><%=h @page_title %></h1>

<% proper_form_for :image, :url => admin_category_image_path(@category), :html => { :multipart => true } do |f| -%>

<% fieldset do -%>
<%= f.file_field :uploaded_data, :label => "Select Image" %>
<% end -%>

<% fieldset :class => "buttons" do -%>
<%= f.submit "Create" %> | <%= link_to "back to edit category", edit_admin_category_path(@category) %> | <%= link_to "back to categories list", admin_categories_path %>
<% end -%>

<% end -%>