<div class="one image">
	<img alt="" class="main" width="423" height="520" src="/images/holding2.jpg" />
</div>
<div class="two">
<h1><%= @page_title %></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>

<% proper_form_for :user, :url => reset_password_url(params[:code]) do |f| -%>

	<%= hidden_field_tag :code, params[:code] %>
<% fieldset do -%>
	<%= f.password_field :password %>
	<%= f.password_field :password_confirmation %>
<% end -%>

<% fieldset :class => "submit" do -%>
<%= f.submit "Update My Password" %>
<% end -%>

<% end -%>
</div>