<h1><%= @page_title %></h1>
<p><%= link_to "new", new_admin_country_path %></p>

<table cellspacing="0">
<thead>
	<tr>
		<th scope="col" class="text">Name</th>
		<th scope="col" class="text">Code</th>
	</tr>
</thead>
<tbody>
<% @countries.each do |c| -%>
<tr>
	<th scope="row" class="text"><%=h c.name %> | <%= link_to "edit", edit_admin_country_path(c) %></th>
	<td class="text"><%=h c.a2 %></td>
</tr>
<% end -%>
</tbody>
</table>