<h1>New Product</h1>

<% proper_form_for :product, :url => admin_products_path do |f| -%>

<% fieldset do -%>
<%= f.text_field :name %>
<%= f.text_field :sku %>
<%= f.text_area :description %>
<%= f.text_field :price %>
<%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, { :include_blank => true } %>
<% end -%>

<% fieldset :class => "submit" do -%>
<%= f.submit "Create" %> | <%= link_to "back to products list", admin_products_path %>
<% end -%>

<% end -%>